<mat-spinner *ngIf="isLoading">

</mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{ post.title }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
        <mat-action-row>
            <a
                mat-button
                color="primary"
                [routerLink]="['/edit', post.id]"
            >
                Edit
            </a>
            <button
                mat-button
                color="warn"
                (click)="onDeletePost(post.id)"
            >
                Delete
        </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<button id= "log-post" mat-raised-button (click)="onClickConsoleLogPosts()">Log Posts</button>